@page "/tracks"
@inject HttpClient Http


<h2>Tracks</h2>
@if (hasLoaded)
{@if (tracks != null)
    {
        <MatTable Items="@tracks" ShowPaging="false" PageSize="100">
            <MatTableHeader>
                <th>Circuit Name</th>
                <th>Availability</th>
                <th>Layouts</th>
                <th>Details</th>
            </MatTableHeader>
            <MatTableRow>
                <td>@context.Name</td>
                <td>@context.Availability</td>
                <td>@context.NumberOfVariants</td>
                <td><a href="@context.Url" target="_blank">Link</a></td>
            </MatTableRow>
        </MatTable>
    }
    else
    {
        <h1>No tracks exist</h1>
    }
}
else
{
<LoadingSpinner />
}




@code {
    private TrackViewModel[] tracks;
    private bool hasLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        await GetTracks();
    }

    private async Task GetTracks()
    {

        try
        {
            tracks = await Http.GetFromJsonAsync<TrackViewModel[]>("/api/Track/GetAll");
        }
        catch (Exception ex)
        {
            tracks = null;
            Console.WriteLine(ex.ToString());
        }
        finally
        {
            hasLoaded = true;
        }
    }
}
