@page "/EditTier/{tierId}"
@inject HttpClient Http
@inject NavigationManager NavManager

<h2>Edit Tier</h2>

@if (currentTier != null)
{
    <EditForm Model="@currentTier">

        <MatTextField Label="Tier Name" @bind-Value="currentTier.Name" />
        <MatNumericUpDownField Label="Order" @bind-Value="currentTier.Order" />
        <MatNumericUpDownField Label="Tracks to be selected in tier" @bind-Value="currentTier.NumberToBeSelected" />
        <MatNumericUpDownField Label="Number of tracks each voter should select" @bind-Value="currentTier.NumberToBeVotedOn" />
        <MatNumericUpDownField Label="Max seasons track can run in a year" @bind-Value="currentTier.MaxSeasonsTrackCanRunPerYear" />
        <MatNumericUpDownField Label="Max consecutive seasons track can run" @bind-Value="currentTier.MaxConsecutiveSeasonsTracksCanRun" />
        <MatNumericUpDownField Label="Minimum consecutive seasons track will run" @bind-Value="currentTier.MinConsecutiveSeasonsTrackWillRunOnceSelected" />
        <br />
        @if (currentTier.NumberToBeVotedOn > 1)
        {
            <MatSlideToggle TValue="bool" Label="Require order of preference?" @bind-Value="currentTier.SelectionsShouldBeOrdered" />
        }

    </EditForm>
    <MatDivider></MatDivider>
    <MatTable Items="@currentTier.Tracks" ShowPaging="false" PageSize="100">
        <MatTableHeader>
            <th>Circuit Name</th>
            <th>Layout</th>
            <th>Track Type</th>
            <th>Availability</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
            <td>@context.VariantName</td>
            <td>@context.TrackType</td>
            <td>@context.Availability</td>
        </MatTableRow>
    </MatTable>

    @if (trackNames != null)
    {
        @if (dialogIsOpen)
        {
            <MatAutocompleteList Items="@trackNames" @bind-Value="newTrackName" TItem="string" Label="Select a track" @onblur="LoadVariants" FullWidth="true"></MatAutocompleteList>
            <br />
            @if (variants != null)
            {
                <MatSelect @bind-Value="newVariantName" FullWidth="true" Label="Select a layout">
                    @foreach (var variant in variants)
                                    {
                        <MatOptionString Value="@variant.Name">@variant.Name</MatOptionString>
                                    }
                </MatSelect>
            }
            <br />
            <MatButton @onclick="Cancel">Cancel</MatButton>
            <MatButton Raised="true" OnClick="@AddTrack">Add</MatButton>
        }
        else
        {
            <MatButton @onclick="() => dialogIsOpen = true">Add Track</MatButton>
        }
    }
    <br />
    @if (isLoading)
    {
        <LoadingSpinner />
    }
    else
    {
        <MatButton Raised="true" OnClick="@Save">Save</MatButton>
    }

    <SnackBarMessage Show="@savedSuccessfully" Message="Changes saved successfully"/>
}

@code {
    [Parameter]
    public string TierId { get; set; }
    private ScheduleTierViewModel currentTier;
    private List<TrackViewModel> tracks;
    private List<string> trackNames;
    private List<TrackVariantViewModel> variants;
    private bool dialogIsOpen = false;
    private bool isLoading = false;
    private bool savedSuccessfully = false;
    string newTrackName;
    string newVariantName;

    protected override async Task OnInitializedAsync()
    {
        await GetTier();
        await GetTrackList();
    }

    private async Task GetTier()
    {
        try
        {
            currentTier = await Http.GetFromJsonAsync<ScheduleTierViewModel>($"/api/Tier/GetById/{TierId}");
        }
        catch (Exception ex)
        {
            currentTier = null;
            Console.WriteLine(ex.ToString());
        }
    }

    private async Task GetTrackList()
    {
        try
        {
            tracks = await Http.GetFromJsonAsync<List<TrackViewModel>>("/api/Track/GetAll");
            trackNames = tracks.Select(t => t.Name).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private void LoadVariants()
    {
        var track = tracks.FirstOrDefault(t => t.Name == newTrackName);
        variants = track?.Variants;
    }

    private async Task AddTrack()
    {
        try
        {
            var newTrack = await Http.GetFromJsonAsync<ScheduleTrackViewModel>($"/api/Track/GetScheduleTrackByName/{newTrackName}");
            var variant = tracks.FirstOrDefault(t => t.Name == newTrackName).Variants.FirstOrDefault(v => v.Name == newVariantName);
            newTrack.VariantName = variant.Name;
            newTrack.TrackType = variant.TrackType;
            currentTier.Tracks.Add(newTrack);
            trackNames.Remove(newTrackName);
            await Save();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
        finally
        {
            dialogIsOpen = false;
            newTrackName = null;
            newVariantName = null;
            variants = null;
        }
    }

    private async Task Save()
    {
        try
        {
            isLoading = true;
            await Http.PostAsJsonAsync("/api/Tier/Save", currentTier);
            savedSuccessfully = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
        finally
        {
            isLoading = false;
        }
    }

    private void Cancel()
    {
        dialogIsOpen = false;
        newTrackName = null;
        newVariantName = null;
        variants = null;
    }

}
