@page "/EditSeries/{seriesId}"
@inject HttpClient Http
@inject NavigationManager NavManager

@if (currentSeries != null)
{
    <h2>@currentSeries.Name</h2>
    <h4>@currentSeries.Tiers.Count Tiers</h4>
    <p>@currentSeries.Description</p>

    <MatDivider></MatDivider>

    <br />

    @foreach (var tier in currentSeries.Tiers.OrderBy(t=>t.Order))
    {
        <MatCard>
            <MatCardContent @onclick="()=> EditTier(tier)">
                <MatBlazor.MatHeadline6>@tier.Name</MatBlazor.MatHeadline6>
                <MatSubtitle1>@tier.NumberToBeSelected tracks to be picked from a pool of @tier.Tracks.Count</MatSubtitle1>
                <MatBody1>
                    <ul>
                        @foreach (var track in tier.Tracks)
                        {
                            <li>@track.Name</li>
                        }
                    </ul>
                </MatBody1>
            </MatCardContent>
        </MatCard>
    }
    <MatButton @onclick="AddTier">Add a new Tier</MatButton>
}

@code {
    [Parameter]
    public string SeriesId { get; set; }
    private ScheduleSeriesViewModel currentSeries;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentSeries();
    }

    private async Task GetCurrentSeries()
    {
        try
        {
            currentSeries = await Http.GetFromJsonAsync<ScheduleSeriesViewModel>($"/api/Series/GetById/{SeriesId}");
        }
        catch (Exception ex)
        {
            currentSeries = null;
            Console.WriteLine(ex.ToString());
        }
    }

    private void AddTier()
    {
        var tierNumber = currentSeries.Tiers.Count + 1;
        var lastOrder = currentSeries.Tiers.Select(t => t.Order).Max();
        currentSeries.Tiers.Add(new ScheduleTierViewModel
        {
            Name = $"Tier {tierNumber}",
            NumberToBeSelected = 3,
            Order = lastOrder + 1,
            Tracks = new List<ScheduleTrackViewModel>()
        });

        try
        {
            Http.PostAsJsonAsync("/api/Series/Update", currentSeries);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }

    private void EditTier(ScheduleTierViewModel tier)
    {
        NavManager.NavigateTo($"/EditTier/{tier.Id}");
    }
}
